.grid {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    align-content: space-around;
    padding-left: 9%;
    width: 85%;
    height: 60%;
}

.buttonContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

@import url('https://fonts.cdnfonts.com/css/pokemon-solid');

.text {
    font-size: x-large;
    color:white;
    opacity: 0.9;
}

.font {
    font-family: 'Times New Roman', Times, serif;
    text-decoration: none;
}