.card {
    background-color: white;
    display: flex;
    flex-direction: row;
    margin: auto;
    margin-top: 10%;
    margin-bottom: 2%;
    max-width: 400px;
    padding: 8px;
  }
  
  .card-artwork {
    border-radius: 10%;
    height: 200px;
    margin-right: 16px;
    width: 200px;
  }
  
  .card-content {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }
  
  .card-title {
    color: purple;
    font-size: 24px;
    margin: 0;
    text-transform: uppercase;
  }
  
  .card-subtitle {
    font-size: 16px;
    margin: 0;
    text-transform: uppercase;
  }
  
  .card-stat {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 4px 0;
  }
  
  .card-stat-label {
    font-size: 14px;
    margin-right: 8px;
    text-transform: uppercase;
  }
  
  .card-stat-value {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
  }
  
  .card-flavor-text {
    font-size: 14px;
    margin-top: 16px;
    text-align: justify;
    font-style: italic;
  }
  
  .card-stat-list {
    display: flex;
    justify-content: space-evenly;
    margin-top: 16px;
    width: 100%;
    padding: 5px;
    background-color: purple;
  }
  
  .card-flavor-container {
    display: flex;
    justify-content: space-between;
    margin-top: 16px;
    width: 100%;
    padding: 5px;
    background-color: purple;
  }